@import "tailwindcss";

/* Fade & scale in on mount */
@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.5s ease-out;
}

/* Hover effect */
.hover-scale:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}


